@charset "UTF-8";

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "IndieFlower";
	src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html {
	font-family: "Montserrat";
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media only screen and (min-width: 800px) {
	html {
		background: linear-gradient(90deg, rgba(182, 188, 200, 1) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, rgba(182, 188, 200, 1) 100%);
	}
}

body {
	width: 100%;
	max-width: 800px;
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	margin: 0;
	position: absolute;
	left: 23%;
	top: 5%;
}

#speechBubble {
	font-family: "IndieFlower";
	font-weight: bolder;
	display: flex;
	position: absolute;
	left: 61%;
	top: 21%;
}

#container1 {
	background-image: url("../img/one\ bench.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

#container2 {
	background-image: url("../img/zoom\ diary.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

#messageBox {
	font-family: "Montserrat";
	display: block;
	font-size: 18px;
	resize: none;
	height: 50%;
	width: 57%;
	padding: 2%;
	position: absolute;
	left: 15%;
	top: 16%;
}

#saveMemoryButton {
	position: absolute;
	left: 62%;
	top: 82%;
	/* font-size: 16px; */
}

#sliderContainer {
	width: 63%;
	position: absolute;
	left: 14%;
	top: 71%;
}


/* CSS */
.button-6 {
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: "Montserrat";
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-6:hover,
.button-6:focus {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
	transform: translateY(-1px);
}

.button-6:active {
	background-color: #F0F0F1;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: rgba(0, 0, 0, 0.65);
	transform: translateY(0);
}


#bubbleCollection {
	display: flex;
	flex-wrap: wrap-reverse;
}

.bubble {
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 50%;
	display: inline-block;
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 3%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	max-width: 700px;
	max-height: 80%;
	overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

.close {
	font-family: "Montserrat";
	font-size: 28px;
	color: rgb(0, 0, 0);
	float: right;
	font-weight: bold;
	padding: 2px 14px;
}

.close:hover,
.close:focus {
	color: #898989;
	text-decoration: none;
	cursor: pointer;
}

#modalQuestion {
	font-family: "Montserrat";
	font-size: 26px;
	text-align: start;
	padding: 16px 16px;
	background-color: rgb(210, 213, 220);
}

#modalText {
	font-family: "Montserrat";
	font-size: 18px;
	padding: 24px 32px;
}

#modalDate {
	font-family: "Montserrat";
	display: block;
	text-align: end;
	padding: 24px 32px;
}