@charset "UTF-8";

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "IndieFlower";
	src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html {
	font-family: "Montserrat";
	background: linear-gradient(90deg, rgba(182, 188, 200, 1) 0%, rgb(255, 255, 255) 50%, rgba(182, 188, 200, 1) 100%);
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	width: 100%;
	max-width: 800px;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

#container1 {
	background-image: url("../img/one\ bench.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#container2 {
	background-image: url("../img/zoom\ diary.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

img {
	object-fit: contain;
	width: 100%;
}

.randomQuestion {
	font-family: "IndieFlower";
}

#messageBox {
	font-family: "Montserrat";
	width: 95%;
	display: block;
	font-size: 21px;
	resize: none;
	height: 50%;
	margin: 0;
	padding: 0;
}

.slider-color-picker {
	width: 100%;
}